@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

form,
label,
input option,
select {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 100%;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 80%;
}

.logo > img {
  max-width: 400px;
  margin-bottom: 115px;
  margin-top: 80px;
}

.wrapper-form > .form-content {
  display: flex;
  flex-direction: column;
}
.wrapper-form > .form-content > input#matricula {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bold;
  padding: 25px 30px;
  width: 80%;
  margin: 0 auto 30px auto;
}
.wrapper-form > .form-content > .btn-default {
  background-color: #0047ff;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bold;
  padding: 25px;
  width: 80%;
  margin: 0 auto 30px auto;
  transition: background 0.3s ease-in-out;
}
.wrapper-form > .form-content > .btn-default:hover {
  cursor: pointer;
  background-color: #002480;
}

footer {
  width: 100%;
  text-align: center;
}
footer > h1 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.5);
}
footer > h1 > span {
  color: #0047ff;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100vw;
  }

  .container {
    width: 100vw;
    padding: 30px;
  }

  .logo > img {
    width: 100%;
    margin-bottom: 60px;
  }

  .wrapper-form > .form-content > input#matricula {
    width: 110%;
  }
  .wrapper-form > .form-content > .btn-default {
    width: 110%;
  }
}
.container-faltas {
  width: 80%;
  height: 90vh;
}

.header-link-back {
  margin-bottom: 30px;
}
.header-link-back > a {
  padding: 20px;
}

.colaborador {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.colaborador > .name {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.colaborador > .infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 60px;
  flex-wrap: nowrap;
}
.colaborador > .infos > .content-info > .title {
  text-transform: uppercase;
  color: #0047ff;
}
.colaborador > .infos > .content-info > p {
  margin: 15px 0;
}

.faltas {
  text-align: center;
}
.faltas > .faltas-title {
  margin-bottom: 30px;
  text-transform: uppercase;
  background-color: rgba(0, 71, 255, 0.1);
  padding: 15px;
}
.faltas > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.faltas > form > select {
  width: 287px;
  padding: 10px;
  border: none;
  font-size: 18px;
  background-color: #e5e5e5;
  border-bottom: 3px solid #d6d6d6;
  cursor: pointer;
}
.faltas > form > select > option {
  text-transform: uppercase;
}
.faltas > form > .data {
  text-transform: uppercase;
  color: rgba(0, 71, 255, 0.3);
  font-size: 24px;
  margin: 15px;
}
.faltas > form > .btn-default {
  background-color: #0047ff;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  width: 20%;
  margin: 0 auto 30px auto;
  transition: background 0.3s ease-in-out;
}
.faltas > form > .btn-default:hover {
  cursor: pointer;
  background-color: #002480;
}

@media screen and (max-width: 800px) {
  .container-faltas {
    width: 100%;
    height: 100vh;
  }

  .colaborador > .name {
    font-size: 20px;
  }
  .colaborador > .infos {
    display: block;
    margin: 0 0 30px 0;
  }

  .faltas > .faltas-title {
    font-size: 18px;
  }
  .faltas > form > .btn-default {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
